{% load static %}
<section class="contact" id="contact">
    <div class="contact-box">
        <h3>Game Planet</h3>
        <span>Connect With Us</span>
        <div class="social">
            <a href="https://www.snapchat.com/add/gameplanet.krd"><i class='bx bxl-snapchat' ></i></a>
            <a href="https://instagram.com/gameplanet.krd"><i class='bx bxl-instagram' ></i></a>
        </div>
    </div>
    <div class="contact-box address">
        <h3>Contact</h3>
        <i class='bx bxs-map' ><span>Bakhtiari, Erbil</span></i>
        <i class='bx bxs-phone' ><span>+964 750 070 3070</span></i>
    </div>
</section>

<!-- Copyright -->
<div class="copyright">
    <p>&#169; 3usa All Right Reserved.</p>
</div>